# Ignore all node_modules folders
**/node_modules/



# Ignore build outputs
**/dist/
**/build/

# Ignore database + envs
.env
.env.*

# Logs and temp
*.log
logs/
tmp/

# Editor junk
.DS_Store
.vscode/
.idea/
